.yellow{
    width: calc(100%-100px);
    height: 10vh;
    background-color: yellow;
}
.red{
    width: max(100px,50%);
    height: 10vh;
    background-color: red;
}
.green{
    width: min(200px,10%);
    height: 10vh;
    background-color: rgb(12, 210, 144);
}
.black{
    width: clamp(500px,50%,800px);
    height: 10vh;
    background-color: black;
}